<!-- templates/vehiculos/editar_vehiculo.html -->
{% extends 'dashboard/layout.html' %}

{% block content %}
  <div class="container py-5">
    <h1>Editar vehículo</h1>

    <form method="POST" class="mt-4">
      {% csrf_token %}
      <div class="form-group row mb-3">
        <label for="{{ form.placa.id_for_label }}" class="col-sm-2 col-form-label">Placa:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="{{ form.placa.id_for_label }}" 
                name="{{ form.placa.name }}" value="{{ form.placa.value | default:''}}"
                oninput="this.value = this.value.toUpperCase()">
        </div>
      </div>
      
      <div class="form-group row mb-3">
        <label for="{{ form.tipo.id_for_label }}" class="col-sm-2 col-form-label">Tipo:</label>
        <div class="col-sm-10">
          {{ form.tipo }}
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="{{ form.marca.id_for_label }}" class="col-sm-2 col-form-label">Marca:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="{{ form.marca.id_for_label }}" 
                name="{{ form.marca.name }}" value="{{ form.marca.value }}">
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="{{ form.modelo.id_for_label }}" class="col-sm-2 col-form-label">Modelo:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="{{ form.modelo.id_for_label }}" 
                name="{{ form.modelo.name }}" value="{{ form.modelo.value }}"
                oninput="this.value = this.value.toUpperCase()">
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="{{ form.anio.id_for_label }}" class="col-sm-2 col-form-label">Año:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="{{ form.anio.id_for_label }}" 
                name="{{ form.anio.name }}" value="{{ form.anio.value | default:''}}">
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="{{ form.regional.id_for_label }}" class="col-sm-2 col-form-label">Regional:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="{{ form.regional.id_for_label }}" 
                name="{{ form.regional.name }}" value="{{ form.regional.value }}">
        </div>
      </div>

      <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary me-3">Guardar cambios</button>
        <a href="{% url 'lista_vehiculos' %}" class="btn btn-outline-secondary">Cancelar</a>
      </div>
    </form>
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <strong>¡Error!</strong> Por favor corrija los siguientes errores:
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
  </div>
{% endblock %}

