{% extends 'dashboard/layout.html' %}


{% block head %}
  {{ block.super }}
{% endblock head %}

{% block content %}
  <h1 class="mb-4">Lista de vehículos</h1>

  <a href="{% url 'agregar_vehiculo' %}" class="btn btn-primary mb-3">Agregar vehículo</a>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Placa</th>
          <th>Tipo</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Año</th>
          <th>Regional</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for vehiculo in vehiculos %}
          <tr>
            <td>{{ vehiculo.placa }}</td>
            <td>{{ vehiculo.tipo }}</td>
            <td>{{ vehiculo.marca }}</td>
            <td>{{ vehiculo.modelo }}</td>
            <td>{{ vehiculo.anio }}</td>
            <td>{{ vehiculo.regional }}</td>
            <td class="d-inline-flex">
              <a href="{% url 'editar_vehiculo' vehiculo.id %}" class="btn btn-sm btn-link">
                <i class="bi bi-pencil-square"></i> <!-- Icono de editar -->
              </a>
              <form method="post" action="{% url 'eliminar_vehiculo' vehiculo.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-link" 
                      onclick="return confirm('¿Estás seguro de que deseas eliminar este vehículo?')">
                      <i class="bi bi-trash"></i> <!-- Icono de eliminar -->
                </button>
              </form>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="7">No hay vehículos registrados</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
