{% extends 'dashboard/layout.html' %}

{% block head %}
  {{ block.super }}
{% endblock head %}

{% block content %}
  <h1 class="mb-4">Lista de vehículos</h1>
  
  <div class="mb-3 row">
    <div class="col">
      <a href="{% url 'agregar_vehiculo' %}" class="btn btn-primary mb-3">Agregar vehículo</a>
    </div>
    
    <div class="col">
      <form action="{% url 'lista_vehiculos' %}" method="GET" class="form-inline">
        <div class="form-group mb-2 mr-3">
          <label for="regional" class="sr-only">Regional:</label>
          <select class="form-control" id="regional" name="regional">
            <option value="" >Todas las regionales</option>
            {% for r in regionales %}
            <option value="{{ r }}">{{ r }}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="form-group mb-2 mr-3">
          <label for="tipo" class="sr-only">Tipo:</label>
          <select class="form-control" id="tipo" name="tipo">
            <option value="">Todos los tipos</option>
            {% for t in tipos %}
            <option value="{{ t }}">{{ t }}</option>
            {% endfor %}
          </select>
        </div>
        
        <button type="submit" class="btn btn-primary mb-2">Filtrar</button>
      </form>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Placa</th>
          <th>Tipo</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Año</th>
          <th>Regional</th>
          <th>Acciones</th>
        </tr>
      </thead>
      
      <tbody>
        {% for vehiculo in vehiculos %}
          <tr>
            <td>{{ vehiculo.placa }}</td>
            <td>{{ vehiculo.tipo }}</td>
            <td>{{ vehiculo.marca }}</td>
            <td>{{ vehiculo.modelo }}</td>
            <td>{{ vehiculo.anio }}</td>
            <td>{{ vehiculo.regional }}</td>
            <td class="d-inline-flex">
              <a href="{% url 'editar_vehiculo' vehiculo.id %}" class="btn btn-sm btn-link">
                <i class="bi bi-pencil-square" ></i> <!-- Icono de editar -->
              </a>
              <form method="post" action="{% url 'eliminar_vehiculo' vehiculo.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-link" 
                      onclick="return confirm('¿Estás seguro de que deseas eliminar este vehículo?')">
                      <i class="bi bi-trash"></i> <!-- Icono de eliminar -->
                </button>
              </form>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="7">No hay vehículos registrados</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
