{% extends 'dashboard/layout.html' %}

{% block title %}Informes{% endblock title %}

{% block content %}
  <div class="container">
    <h1 class="mb-4">Descargar Informes</h1>

		<!-- Informes Activos-->
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title mb-3">Informe de Mantenimientos Activos</h5>
        <p class="card-text text-muted">Descarga un informe detallado de todos los mantenimientos, 
                            que incluye el cronograma de actividades, así como los detalles 
                            específicos de cada mantenimiento, como los repuestos utilizados, 
                            los proveedores requeridos y otros aspectos relevantes
        </p>
				<!-- Link para descargar Informe -->
        <ul class="nav nav-pills nav-sidebar flex-column">
					<a href="{% url 'informe_activos' %}" class="nav-link" target="_blank">
						<i class="bi bi-file-earmark-arrow-down-fill align-middle me-2" style="font-size: 1.3em;"></i>
						<p>
							Descargar Informe
						</p>
					</a>        
        </ul>   
      </div>
    </div>
    

		<!-- Informes Inactivos-->
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title mb-3">Informe de Mantenimientos Inactivos</h5>
        <p class="card-text text-muted">Descarga un informe detallado de todos los mantenimientos cerrados o inactivos, 
                                        solo se redactarán los repuestos utilizados, los proveedores requeridos y otros 
                                        aspectos relevantes
        </p>
        <!-- Link para descargar Informe -->
        <ul class="nav nav-pills nav-sidebar flex-column">
					<a href="#" class="nav-link">
						<i class="bi bi-file-earmark-arrow-down-fill align-middle me-2" style="font-size: 1.3em;"></i>
						<p>
							Descargar Informe
						</p>
					</a>        
        </ul> 
      </div>
    </div>

    <!-- Agrega más bloques de "div.card" para los otros informes -->
  </div>
{% endblock %}
