<!-- templates/lista_repuestos.html -->
{% extends 'dashboard/layout.html' %}

{% block title %} Repuestos {% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">Lista de repuestos</h1>
        
        <button class="btn btn-primary mb-4" onclick="location.href='{% url 'agregar_repuesto' %}'">
            Agregar repuesto
        </button>

        <div class="tab-content">
            <div class="col-md-12">
                <table class="table table-sm">
                    <thead>
                        <tr> 
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for repuesto in repuestos %}
                            <tr>
                                <td>{{ repuesto.nombre }}</td>
                                <td class="d-inline-flex">
                                    <a href="{% url 'editar_repuesto' repuesto.id %}" class="btn btn-sm btn-link">
                                      <i class="bi bi-pencil-square"></i> <!-- Icono de editar -->
                                    </a>
                                    <form method="post" action="{% url 'eliminar_repuesto' repuesto.id %}">
                                      {% csrf_token %}
                                      <button type="submit" class="btn btn-sm btn-link" 
                                            onclick="return confirm('¿Estás seguro de que deseas eliminar este vehículo?')">
                                            <i class="bi bi-trash"></i> <!-- Icono de eliminar -->
                                      </button>
                                    </form>
                                  </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2">No hay repuestos registrados</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
