{% extends 'dashboard/layout.html' %}

{% block title %}Lista de proveedores{% endblock  %}

{% block content %}
    <h1>Lista de Proveedores</h1>
    <a href="{% url 'agregar_proveedor' %}">Agregar proveedor</a>
    <ul>
        {% for proveedor in proveedores %}
        <li>
            {{ proveedor.nombre }}
            <a href="{% url 'editar_proveedor' proveedor.id %}">Editar</a>
            <form method="POST" action="{% url 'borrar_proveedor' proveedor.id %}">
                {% csrf_token %}
                <input type="hidden" name="proveedor_id" value="{{ proveedor.id }}">
                <input type="submit" value="Eliminar" onclick="return confirm('¿Estás seguro de que deseas eliminar este proveedor?')">
            </form>
        </li>
        {% endfor %}
    </ul>
{% endblock  %}
