{% extends 'dashboard/layout.html' %}
{% load static %}

{% block head %}
  {{ block.super }}
{% endblock %}

{% block title %}Agregar Mantenimiento{% endblock %}

{% block content %}
<div class="container">
  <h1 class="mb-4">Agregar Mantenimiento</h1>
  <form method="post">
    {% csrf_token %}
    {% if form.errors %}
      <div class="alert alert-danger">
          <ul>
              {% for field in form %}
                  {% for error in field.errors %}
                      <li>{{ field.label }}: {{ error }}</li>
                  {% endfor %}
              {% endfor %}
          </ul>
      </div>
    {% endif %}

    <div class="form-group row mb-3">
      <label for="{{ form.placa.id_for_label }}" class="col-sm-2 col-form-label">* Placa:</label>
      <div class="col-sm-12">
          <input class="form-control" list="placas" id="placas-search" placeholder="Buscar por placa..."
                oninput="this.value = this.value.toUpperCase()">
          <datalist id="placas">
            {% for placa in form.placa.field.queryset %}
            <option value="{{ placa.placa }}" data-pk="{{ placa.pk }}">{{ placa.placa }}</option>
            {% endfor %}
          </datalist>
          
          <select class="form-control mt-2" id="{{ form.placa.id_for_label }}" name="{{ form.placa.name }}" style="display:none;">
              <option value="">Seleccione el Vehículo</option>
              {% if form.placa.field.queryset.count > 0 %}
                  {% for placa in form.placa.field.queryset %}
                      <option value="{{ placa.pk }}" {% if form.placa.value == placa.pk %}selected{% endif %}>
                          {{ placa.placa }}
                      </option>
                  {% endfor %}
              {% else %}
                  <option value="">No hay placas disponibles</option>
              {% endif %}
          </select>
      </div>
    </div>
  
    {% comment %} <div class="form-group row mb-3">
      <label for="{{ form.placa.id_for_label }}" class="col-sm-2 col-form-label">* Placa:</label>
      <div class="col-sm-12">
        <select class="form-control" id="{{ form.placa.id_for_label }}" name="{{ form.placa.name }}">
          <option value="">Seleccione el Vehículo</option>
          {% if form.placa.field.queryset.count > 0 %}
            {% for placa in form.placa.field.queryset %}
              <option value="{{ placa.pk }}" {% if form.placa.value == placa.pk %}selected{% endif %}>
                {{ placa.placa }}
              </option>
            {% endfor %}
          {% else %}
            <option value="">No hay placas disponibles</option>
          {% endif %}
        </select>
      </div>
    </div> {% endcomment %}
    
    <div class="form-group row mb-3">
        <label for="{{ form.tipo.id_for_label }}" class="col-sm-2 col-form-label">Tipo:</label>
        <div class="col-sm-12">
          {{ form.tipo }}
        </div>
    </div>

    <div class="form-group row mb-3">
      <label for="{{ form.proveedores.id_for_label }}" class="col-sm-2 col-form-label">Proveedores:</label>
      <div class="col-sm-12">
        <select class="form-control" id="{{ form.proveedores.id_for_label }}" 
                name="{{ form.proveedores.name }}" multiple size="6">
          {% if proveedores %}
            {% for proveedor in proveedores %}
              <option value="{{ proveedor.id }}">{{ proveedor.nombre }}</option>
            {% endfor %}
          {% else %}
            <option value="">No hay proveedores disponibles</option>
          {% endif %}
        </select>
      </div>
    </div>
   
    <div class="form-group row mb-3">
      <label for="{{ form.ot.id_for_label }}" class="col-sm-2 col-form-label">OT:</label>
      <div class="col-sm-12">
        <input type="text" class="form-control" id="{{ form.ot.id_for_label }}" 
              name="{{ form.ot.name }}" value="{{ form.ot.value | default:'' }}" 
              oninput="this.value = this.value.toUpperCase()">
      </div>
    </div>

    <div class="form-group row mb-3">
      <div class="col-sm-12">
        <label for="{{ form.fecha.id_for_label }}">* Fecha:</label>
        <input type="date" class="form-control" id="{{ form.fecha.id_for_label }}" 
              name="{{ form.fecha.name }}" value="{{ form.fecha.value }}">
      </div>
    </div>
    
    <div class="form-group row mb-3">
      <div class="col-sm-12">
        <label for="{{ form.fecha_preventivo.id_for_label }}">Fecha Preventivo:</label>
        <input type="date" class="form-control" id="{{ form.fecha_preventivo.id_for_label }}" 
              name="{{ form.fecha_preventivo.name }}" value="{{ form.fecha_preventivo.value }}">
      </div>
    </div>

    <div class="form-group row mb-3">
      <label for="{{ form.descripcion.id_for_label }}" class="col-sm-2 col-form-label">Descripcion:</label>
      <div class="col-sm-12">
        <textarea class="form-control" id="{{ form.descripcion.id_for_label }}" 
              name="{{ form.descripcion.name }}">{{ form.descripcion.value | default:'' }}</textarea>
      </div>
    </div>

    <div class="form-group row mb-3">
      <div class="col-sm-12">
        <div class="custom-control custom-checkbox">
          <input class="custom-control-input" type="checkbox" id="{{ form.os.id_for_label }}" name="{{ form.os.name }}" 
                  {% if form.os.value %}checked{% endif %}>
          <label class="custom-control-label" for="{{ form.os.id_for_label }}">Orden de Servicio</label>
        </div>
      </div>
    </div>
    <div class="form-group row mb-3">
      <div class="col-sm-12">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="{{ form.estado.id_for_label }}" name="{{ form.estado.name }}" {% if form.estado.value %}checked{% endif %}>
          <label class="custom-control-label" for="{{ form.estado.id_for_label }}">Estado</label>
        </div>
      </div>
    </div>
    
    <div class="form-group mt-3">
      <button type="submit" class="btn btn-primary me-3" title="Agregar Mantenimiento">Agregar</button>
      <a href="{% url 'lista_mantenimientos' %}" class="btn btn-outline-secondary" title="Cancelar">Cancelar</a>
    </div>
  </form>
</div>

<script>
  // ---------- PARA FILTRAR ---------- // 
  // Define la variable JavaScript form con el valor del id de estado
  const form = { estado: { id_for_label: "{{ form.estado.id_for_label }}" } };

  // Obtiene el checkbox y el label correspondiente
  const checkbox = document.getElementById(form.estado.id_for_label);
  const label = document.querySelector(`label[for='${form.estado.id_for_label}']`);

  // Define una función para actualizar el texto del label
  function actualizarEstado() {
    if (checkbox.checked) {
      label.innerText = "Activo";
    } else {
      label.innerText = "Inactivo";
    }
  }
  // Llama la función una vez para inicializar el label
  actualizarEstado();
  // Agrega un listener al checkbox para actualizar el label al cambiar su estado
  checkbox.addEventListener("change", actualizarEstado);

  // ---------- PARA BUSCAR PLACAS ---------- // 
  var input = document.getElementById('placas-search');
  var select = document.getElementById('{{ form.placa.id_for_label }}');

  input.addEventListener('input', function() {
    // Buscar la opción en el datalist que corresponde al valor del input
    var option = document.querySelector('#placas option[value="' + this.value + '"]');

    // Si se encontró la opción, actualizar el valor del select
    if (option) {
      select.value = option.getAttribute('data-pk');
    }
  });
</script>


{% endblock %}

