{% extends 'dashboard/layout.html' %}

{% block head %}
  {{ block.super }}
{% endblock %}

{% block title %}
  <title>Repuestos del Mantenimiento</title>
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="mb-4">Repuestos del Mantenimiento {{ mantenimiento }}</h1>
    <div class="tab-content">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Repuesto</th>
              <th>Cantidad</th>
              <th>Descripción</th>
            </tr>
          </thead>
          <tbody>
            {% for repuesto_mantenimiento in repuestos %}
            <tr>
              <td>{{ repuesto_mantenimiento.repuesto }}</td>
              <td>{{ repuesto_mantenimiento.cantidad }}</td>
              <td>{{ repuesto_mantenimiento.descripcion }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="{% url 'agregar_repuestos' mantenimiento_id=mantenimiento.id %}" class="btn btn-primary">Agregar Repuestos</a>
        <a href="{% url 'lista_mantenimientos' %}" class="btn btn-outline-secondary" title="Cancelar">Cancelar</a>
    </div>
  </div>
{% endblock %}
