<!DOCTYPE html>
<html lang="es">
  <head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    <title>{% block title %}Mi página de inicio{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'dashboard' %}">Inicio</a></li>
          <li><a href="{% url 'lista_proveedores' %}">Proveedores</a></li>
          <li><a href="{% url 'lista_vehiculos' %}">Vehiculos</a></li>
          <li><a href="{% url 'lista_repuestos' %}">Repuestos</a></li>
          <li><a href="#">Mantenimientos</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}
      
      {% endblock %}
    </main>
  </body>
</html>
